<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12 ">
              <div class="titlepage text_align_center">
                
                <h2>Login</h2>
              </div>
            </div>
            <div class="col-md-8 offset-md-2">
              <form id="request" class="main_form" method="post" action="/sign-up" enctype="application/x-www-form-urlencoded"  >
                <div class="row">
                  <div class="col-md-12">
                    <input class="form_control" placeholder="Username" type="text" name="username" > 
                  </div>
                  <div class="col-md-12">
                    <input class="form_control" placeholder="Password" type="password" name="password">                          
                  </div>
                  <div class="col-md-12">
                    <div class="group_form">
                      <button class="send_btn" type="submit">Login</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>